.item {
  flex: 0.8;
  padding: 40px;
}

.item__header {
  display: flex;
  flex: 1;
  margin: 15px 0 8px;
}

.item__banner {
  width: 100%;
}

.item__title {
  color: #000;
}

.item__para {
  margin: 20px 0;
  min-height: 200px;
  border-bottom: 2px solid dodgerblue;
}
.item__type {
  font-size: 14px;
  color: red;
}

.item__header span {
  right: 10px;
  bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}
.btn {
  padding: 4px 8px;
  margin-right: 10px;
}
.btn__write {
  border: none;
  background-color: dodgerblue;
  color: #fff;
}
.btn__modify {
  border: none;
  background-color: green;
  color: #fff;
}
.btn__delete,
.btn__cancle {
  border: none;
  background-color: red;
  color: #fff;
}
