nav {
  display: flex;
  justify-content: space-between;
}
.navLogo {
  display: flex;
  /* border: 1px solid red; */
  width: 25px;
}

.logo-image {
  width: 26px;
  margin-right: 6px;
}

/* ####################################################################*/
/*  color */
.color-blue {
  color: dodgerblue;
}
.color-black {
  color: black;
}
.color-active {
  color: dodgerblue;
}

/* font(size, bold) */
.font-smallSize {
  font-size: 16px;
}
.font-midSize {
  font-size: 18px;
}
.font-bold {
  font-weight: bold;
}

/* link style initial set */
a {
  text-decoration: none;
  color: black;
  margin-left: 14px;
}

/* buttons */

.button-blue {
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 8px;
  padding: 4px 10px;
}
